@using Sandbox;
@using Sandbox.UI;
@using OpenFramework.World.Devices.Phone

@namespace OpenFramework.World.Devices
@implements IDevice.IScreenContext
@inherits PanelComponent

<root class="@(IsOpen ? "open" : "")">
    <div class="topbar">
        <div class="left">
            <label class="time">@DateTime.Now.ToString("HH:mm")</label>
        </div>
        <div class="dynamic-island"></div>
        <div class="right">
            <NetworkSignal SignalStrength="@(4)" />
            <BatteryLevel Percentage="@(50)" IsCharging="@(false)" />
        </div>
    </div>
    <div class="navigator-canvas" @ref="CanvasRef"></div>
</root>

@code
{
    [Property] public IDevice AttachedDevice { get; set; }
    bool IsOpen = true;
    Panel CanvasRef;

    protected override void OnDestroy()
    {
        Mouse.Visibility = MouseVisibility.Auto;
    }

    protected override void OnTreeFirstBuilt()
    {
        Panel.Focus();
        CanvasRef.AddChild( new HomeScreen() { AttachedDevice = AttachedDevice } );
    }

    protected override int BuildHash()
    {
        return HashCode.Combine( IsOpen, DateTime.Now.Minute );
    }
}
